<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>个人主页</title>
  <!-- 引入外部css文件 -->
  <link rel="stylesheet" href="../static/css/common.css">
  <link rel="stylesheet" href="../static/css/homepage_c.css">
  <!-- 引入外部js文件 -->
  <script src="../static/js/jquery.min.js"></script>
  <!-- 自定js文件 -->
  <script src="../static/js/init.js"></script>
  <script src="../static/js/nav.js"></script>
  <script src="../static/js/footer.js"></script>
  <script src="../static/js/homepage_c.js"></script>
  <script src="../static/js/rightIcon.js"></script>
</head>
<body onLoad="scrollTo(0,520)">
  <header>
    
  </header>

  <main>
    <div class="parent">
      <div class="bgimg">
        <img src="../static/images/bgimg.jpg" alt="">
      </div>
      <div class="user_box">
        <div class="user">
            <div class="tx">
                <img  src="" alt="">
            </div>
            <div class="yhm"></div>
            <ul class="liuran">
                <li>被浏览次数</li>
                <li>12236543</li>
                <li>粉丝</li>
                <li>8230</li>
                <li>关注</li>
                <li>5437</li>
            </ul>
            <div class="gz">
              <ul>
                <li class="follow">
                  <a class="fbtn" href="">
                    <div>关注</div>
                    <img src="../static/images/icon/follow.png" alt="">
                  </a>
                </li>
                <li class="share">  
                  <a class="sbtn" href="">
                    <div>分享</div>
                    <img src="../static/images/icon/share.png" alt="">
                  </a>
                </li>
                <li class="setting">
                  <a class="set" href="">
                    <div></div>
                    <img src="../static/images/icon/menu.png" alt="">
                  </a>
                </li>
              </ul>
                
                
                
              </div>
        </div>
      </div>
      <div class="blank"></div>
      <div class="sc">
        <div>
          <a href="javascript:void(0)" class="hm">他的首页</a>
        </div>
        <div class="active">
          <a href="javascript:void(0)" class="hc">他的收藏</a>
        </div>
        
      </div>

      <div class="blogsbox">
        <!-- 每一条博客内容 -->
        <div class="blogs">
          
          <!-- 博客图片 -->
          
         
          <div class="blogpic"></div>
          <div class="blogpic"></div>
          <div class="blogpic"></div>
          <div class="blogpic"></div>
          <div class="blogpic"></div>
          <div class="blogpic"></div>
          <div class="blogpic"></div>
          <div class="blogpic"></div>
          <div class="blogpic"></div>

        </div>

        <!-- <div class="clear"></div> -->

        </div>
        
        
    </div>
  </main>

  <footer>

  </footer>
</body>
</html>