<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>首页</title>
  <!-- 引入外部css文件 -->
  <link rel="stylesheet" href="../static/css/common.css">
  <link rel="stylesheet" href="../static/css/index.css">
  <!-- 引入外部js文件 -->
  <script src="../static/js/jquery.min.js"></script>
  <!-- 自定js文件 -->
  <script src="../static/js/nav.js"></script>
  <script src="../static/js/footer.js"></script>
  <script src="../static/js/rightIcon.js"></script>
  <script src="../static/js/index.js"></script>



</head>

<body>

  <header>
    
  </header>

  <main>
    <div class="banner">
      <div class="img">
        <div class="text">
          <p>轻松下厨，乐享生活</p>
          <a href="/login">
            <div class="join">
              加入我们
            </div>
          </a>
        </div>
      </div>
      
    </div>
                               
    <div class="guide_list">
      <ul >
        <a href="">
          <li class="guide">
            <p>美食分享</p>
            <p>Food</p>
          </li>
        </a>
        <a href="">
          <li class="guide">
            <p>教程指导</p>
            <p>Share</p>
          </li>
        </a>
        <a href="">
          <li class="guide">
            <p>风趣小物</p>
            <p>Fun</p>
          </li>
        </a>
      </ul>
    </div>

    <div class="food_list">
      <div>
        <a href="">
          
          <img class='pic' src="" alt="">
          
        </a>
      </div>
      <div>
        <a href="">
          <img class='pic' src="" alt="">
        </a>
      </div>
      <div>
        <a href="">
          <img class='pic' src="" alt="">
        </a>
      </div>
      <div>
        <a href="">
          <img class='pic' src="" alt="">
        </a>
      </div>
      <div>
        <a href="">
          <img class='pic' src="" alt="">
        </a>
      </div>
      <div>
        <a href="">
          <img class='pic' src="" alt="">
        </a>
      </div>
    </div>

    <div class="lesson_list">
      <div>
        <div class="head"></div>
        <div class="lesson">这里是一段教程描述这里是一段教程描述这里是一段教程描述这里是一段教程描述</div>
        <div>
          <a href="">
            <img src="../static/images/food_6.jpg" alt="">
          </a>
        </div>
      </div>
      <div>
        <div class="head"></div>
        <div class="lesson">这里是一段教程描述这里是一段教程描述</div>
        <div>
          <a href="">
            <img src="../static/images/food_6.jpg" alt="">
          </a>
        </div>
      </div>
      <div>
        <div class="head"></div>
        <div class="lesson">这里是一段教程描述</div>
        <div>
          <a href="">
            <img src="../static/images/food_6.jpg" alt="">
          </a>
        </div>
      </div>
    </div>

    <div class="end">
      <div class="join">
        <a href="/login">加入我们</a>
      </div>
    </div>
  </main>

  <footer>
  </footer>

  
</body>

</html>