<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>教程</title>
    <!-- 引入外部css文件 -->
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/lesson.css">
    <!-- 引入外部js文件 -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- 自定js文件 -->
    <script src="/static/js/init.js"></script>
    <script src="/static/js/lesson.js"></script>
    <script src="/static/js/nav.js"></script>
    <script src="/static/js/footer.js"></script>
    <script src="/static/js/ad.js"></script>
    
</head>
<body>

    <!-- HTML5 规范的语义化标签 -->
    <header>
                
    </header>

    <main>
        <div class="video">
            <div class="vlocation">
                <video controls="controls" autoplay="autoplay"  >
                    <!-- <source src="http://vfx.mtime.cn/Video/2019/03/18/mp4/190318231014076505.ogg" type="video/ogg" /> -->
                    <source src="http://vfx.mtime.cn/Video/2019/03/18/mp4/190318231014076505.mp4" type="video/mp4" referrerPolicy="no-referrer">
                    <!-- <source src="http://vfx.mtime.cn/Video/2019/03/18/mp4/190318231014076505.webm" type="video/webm" />
                    <object data="http://vfx.mtime.cn/Video/2019/03/18/mp4/190318231014076505.mp4">
                        <embed src="http://vfx.mtime.cn/Video/2019/03/18/mp4/190318231014076505.swf">
                    </object>      -->
                </video>
            </div>
        </div>
        <div class="master">

            <div class="title_area">
                <table>
                    <tr>
                        <td rowspan="2">
                            <div class="user_img">
                                <img src="" alt="">
                            </div>
                        </td>
                        <td>
                            <div class="title">
                                
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="userinfo"></div>
                            <a href="JavaScript:void(0)">
                                <div class="follow">+ 关注</div>
                            </a>
                        </td>
                    </tr>
                </table>
                <div class="blank"></div>
                <div class="content_info">
                    <ul>
                        <li class="date">
                            发表日期：xxxx—xx-x
                        </li>
                        <li>
                            阅读量：8888
                        </li>
                        <li class="tag">
                            <a href="Javascript:void(0)">
                                <img src="/static/images/icon/tag.png" alt="">
                            </a>
                        </li>
                        <li class="options">...
                            <ul>
                                <li id="modify">修改</li>
                                <li id="del">删除</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="content">  
                没有内容
            </div>
            <div class="action" id='action'>
                <ul>
                    <li>
                        <a href="Javascript:void(0)">
                            <div class="comment">      
                                <span>评论</span>
                                <img src="/static/images/icon/comment.png" alt="">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="Javascript:void(0)">
                            <div class="transmit">      
                                转发
                                <img src="/static/images/icon/forward.png" alt="">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="Javascript:void(0)">
                            <div class="like">
                                点赞
                                <img src="/static/images/icon/like.png" alt="">
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="commentlist">
                <ul>
                    <li>
                        <div id='editor'></div>
                        <br>
                        <p class="buttom">
                            <span></span>
                            <input name="button" type="button" id="button" tabindex="5" value="提交" class="button" onclick="sumbit()">
                        </p>
                        <br>
                    </li>
                    <!-- <li>
                        <div class="top">
                            <a href="Javascript:void(0)">用户<div class="head"></div></a>
                            <span class="time">2020-12-01 12:00:23</span>
                            <a href="Javascript:void(0)" class="replyComment">回复</a>
                        </div>
                        <div class="body">fuyrj独到的感觉分管业务别人更为个人头个人仍地方都是反倒是其他个人是观复嘟嘟各色人反倒是 人生如vvnlknsfasdl店佛挡杀佛或多或少工人房啊发放更多萨法发达法不够大大提高内分类数据来看发你的能发多少多少分年龄可如今在c.v，8每一天，6u</div>
                    </li>
                    <li>
                        <div class="subcomment">
                            <div class="top">
                                <a href="Javascript:void(0)">用户<div class="head"></div></a>
                                <span class="time">2020-12-01 12:00:23</span>
                                <a href="Javascript:void(0)" class="replyComment">回复</a>
                            </div>
                            <div class="body">fuyrj独到的感觉分管业务别人更为个人头个人仍地方都是反倒是其他个人是观复嘟嘟各色人反倒是 人生如vvnlknsfasdl店佛挡杀佛或多或少工人房啊发放更多萨法发达法不够大大提高内分类数据来看发你的能发多少多少分年龄可如今在c.v，8每一天，6u</div>
                        </div>
                    </li> -->
                </ul>
            </div>
            <div id="goods">
                <a href="http://127.0.0.1:8000/order">
                    <img src="/static/images/b.jpg" alt="">
                    <div>点击这里快速下单</div>
                </a>
                
            </div>
            
        </div>
    </main>

    <footer>
        
    </footer>
</body>
</html>