<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>个人主页</title>
  <!-- 引入外部css文件 -->
  <link rel="stylesheet" href="../static/css/common.css">
  <link rel="stylesheet" href="../static/css/lesson_add.css">
  <!-- 引入外部js文件 -->
  <script src="../static/js/jquery.min.js"></script>
  <!-- 自定js文件 -->
  <script src="../static/js/init.js"></script>
  <script src="../static/js/nav.js"></script>
  <script src="../static/js/footer.js"></script>
  <script src="../static/js/lesson_add.js"></script>
  <script src="../static/js/rightIcon.js"></script>
  
</head>
<body onLoad="scrollTo(0,520)">
  <header>
    
  </header>

  <main>
    <div class="parent">
      <div class="bgimg">
        <img src="../static/images/bgimg.jpg" alt="">
      </div>
      <div class="user_box">
        <div class="user">
            <div class="tx">
                <img  src="" alt="">
            </div>
            <div class="yhm"></div>
            <ul class="liuran">
                <li>被浏览次数</li>
                <li>12236543</li>
                <li>粉丝</li>
                <li>8230</li>
                <li>关注</li>
                <li>5437</li>
            </ul>

        </div>
      </div>
      <div class="blank"></div>
      <div class="sc">
        <!-- <div>
          <a href="../templates/homepage_m.html">他的首页</a>
        </div>
        <div class="active">
          <a href="">他的收藏</a>
        </div> -->
        
      </div>

        
      <div class="infosbox">
        <br>
        <p>
          <label for="title">文章标题</label>
          <input id="title" maxlength="50" name="title" required="required" size="25" tabindex="1" type="text">
        </p>
        <br>
        <p class="classification">
          <input name="limit" type="radio" value="public" checked=check >公开教程
          <input name="limit" type="radio" value="private" >私人教程
        </p>
        <br>
        <p class="classification">
          <input name="category" type="radio" value="food" checked=check>美食
          <input name="category" type="radio" value="life">生活
        </p>
        <br>
        
        
        <form action="" method="POST" enctype="multipart/form-data" class="cover_form">
          <p>
            <label for="cover">封面图</label>
            <input type="file" name="civer" id="cover">
            <input type="button" id="submit-btn" value="上传" onclick="upload()">
            <div class="cover">
              <img src="" alt="" class="cover_img">
            </div>
          </p>
        </form>
        
        <br>
        <p>
          <label for="video">视频外链</label>
          <input class="video_link" id="video" maxlength="50" name="video_link" size="25" tabindex="1" type="text">
        </p>
        <br>
        <form>

          <div id="editor" style="margin-left: 12px;margin-right: 12px"></div>
          <br>
          <p class="buttom">
            <input id="id_article" name="article" type="hidden" value="1">
            <input name="button" type="button" id="button" tabindex="5" value="提交" class="button" onclick="sumbit()">
          </p>
          <br>
        </form>
      </div>


        
        
    </div>
  </main>

  <footer>
  </footer>

</body>
</html>