<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>教程</title>
    <!-- 引入外部css文件 -->
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/lesson.css">
    <!-- 引入外部js文件 -->
    <script src="../static/js/jquery.min.js"></script>
    <!-- 自定js文件 -->
    <script src="../static/js/nav.js"></script>
    <script src="../static/js/footer.js"></script>
    <script src="../static/js/ad.js"></script>
</head>
<body>

    <!-- HTML5 规范的语义化标签 -->
    <header>
                
    </header>

    <main>
        <div class="video">
            <div class="vlocation">
                <video controls="controls" autoplay="autoplay"  >
                    <!-- <source src="/http://vfx.mtime.cn/Video/2019/03/18/mp4/190318231014076505.ogg" type="video/ogg" />
                    <source src="http://vfx.mtime.cn/Video/2019/03/18/mp4/190318231014076505.mp4" type="video/mp4" />
                    <source src="/http://vfx.mtime.cn/Video/2019/03/18/mp4/190318231014076505.webm" type="video/webm" />
                    <object data="/http://vfx.mtime.cn/Video/2019/03/18/mp4/190318231014076505.mp4">
                        <embed src="/http://vfx.mtime.cn/Video/2019/03/18/mp4/190318231014076505.swf" />
                    </object>      -->
                    <source src="http://f.video.weibocdn.com/KFodBcYXlx07IYFJf16M01041205Z9Jq0E030.mp4?label=mp4_1080p&amp;template=1920x816.25.0&amp;trans_finger=0bde055d9aa01b9f6bc04ccac8f0b471&amp;media_id=4585016294834211&amp;tp=8x8A3El:YTkl0eM8&amp;us=0&amp;ori=1&amp;bf=3&amp;ot=h&amp;ps=3lckmu&amp;uid=2jwpfk&amp;ab=3915-g1,966-g1,3370-g1,3601-g4,3601-g4,3601-g4,3601-g4,3601-g4,3601-g4,1258-g0,1192-g0&amp;Expires=1609122330&amp;ssig=HjUNI%2F27W0&amp;KID=unistore,video" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="master">

            <div class="title_area">
                <table>
                    <tr>
                        <td rowspan="2">
                            <div class="user_img">
                                <img src="../static/images/head/a.jpg" alt="">
                            </div>
                        </td>
                        <td>
                            <div class="title">
                                制作中餐的技巧(via:xxx)fasdlkblakdsbfnklads
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="userinfo">官方账号</div>
                            <a href="">
                                <div class="follow">+ 关注</div>
                            </a>
                        </td>
                    </tr>
                </table>
                <div class="blank"></div>
                <div class="content_info">
                    <ul>
                        <li>
                            发表日期：xxxx—xx-x
                        </li>
                        <li>
                            阅读量：8888
                        </li>
                    </ul>
                </div>
            </div>

            <div class="content">  
                <samp>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores consequuntur facilis aliquid quae, ipsum expedita laboriosam corrupti libero placeat eius sed delectus dolorum pariatur maxime sit minima voluptate. Quae, temporibus?
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis illo placeat unde recusandae possimus asperiores iste quasi minus consectetur. Culpa harum quasi voluptates maiores unde officia enim? Quo, neque dignissimos.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores praesentium nulla in repudiandae minima quia sunt natus, doloremque corrupti deserunt beatae a cupiditate. Facilis cupiditate eius, pariatur corrupti ipsam commodi.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic id illum accusantium autem in vero non iste, laborum atque ut quod quam repellendus quis labore. Rem quos numquam reprehenderit temporibus!
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa enim natus itaque dolore reprehenderit rem aliquid nulla repudiandae quas nostrum? Asperiores culpa, vel deserunt at sapiente illum distinctio mollitia laudantium?
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas cupiditate libero doloremque corporis at culpa sapiente necessitatibus perspiciatis sed ad impedit quidem deserunt aperiam, consequuntur ex rem soluta assumenda sint.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos odit earum laborum possimus, corrupti sint, suscipit tenetur iusto eum minus sed doloribus omnis, beatae velit sequi facilis cupiditate veritatis debitis!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat deserunt omnis nulla deleniti quibusdam accusantium assumenda ratione minus nihil beatae mollitia, reiciendis earum cum similique tempora porro esse, distinctio tempore.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod consectetur quidem fugiat modi? Assumenda repudiandae explicabo eos aut maxime non? Error, ex. Rem corporis amet unde asperiores sed sit consequuntur?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi exercitationem dicta optio repellat, enim, laboriosam repudiandae tempore nam veniam, corporis quos voluptates impedit ea cum facilis voluptate doloribus in. Nam.
                </samp>
                <img src="../static/images/pic/15.jpeg" alt="">
                <samp>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores consequuntur facilis aliquid quae, ipsum expedita laboriosam corrupti libero placeat eius sed delectus dolorum pariatur maxime sit minima voluptate. Quae, temporibus?
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis illo placeat unde recusandae possimus asperiores iste quasi minus consectetur. Culpa harum quasi voluptates maiores unde officia enim? Quo, neque dignissimos.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores praesentium nulla in repudiandae minima quia sunt natus, doloremque corrupti deserunt beatae a cupiditate. Facilis cupiditate eius, pariatur corrupti ipsam commodi.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic id illum accusantium autem in vero non iste, laborum atque ut quod quam repellendus quis labore. Rem quos numquam reprehenderit temporibus!
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa enim natus itaque dolore reprehenderit rem aliquid nulla repudiandae quas nostrum? Asperiores culpa, vel deserunt at sapiente illum distinctio mollitia laudantium?
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas cupiditate libero doloremque corporis at culpa sapiente necessitatibus perspiciatis sed ad impedit quidem deserunt aperiam, consequuntur ex rem soluta assumenda sint.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos odit earum laborum possimus, corrupti sint, suscipit tenetur iusto eum minus sed doloribus omnis, beatae velit sequi facilis cupiditate veritatis debitis!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat deserunt omnis nulla deleniti quibusdam accusantium assumenda ratione minus nihil beatae mollitia, reiciendis earum cum similique tempora porro esse, distinctio tempore.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod consectetur quidem fugiat modi? Assumenda repudiandae explicabo eos aut maxime non? Error, ex. Rem corporis amet unde asperiores sed sit consequuntur?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi exercitationem dicta optio repellat, enim, laboriosam repudiandae tempore nam veniam, corporis quos voluptates impedit ea cum facilis voluptate doloribus in. Nam.
                </samp>
                <img src="../static/images/pic/80.jpeg" alt="">
                <div class="action">
                    <ul>
                        <li>
                            <a href="">
                                <div class="transmit">      
                                    转发
                                    <img src="../static/images/zhuanfa.png" alt="">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="like">
                                    点赞
                                    <img src="../static/images/icon/like.png" alt="">
                                </div>
                            </a>
                            
                        </li>
                    </ul>
                </div>
            </div>
            
            <div id="goods">
                <a href="../templates/order.html">
                    <img src="../static/images/b.jpg" alt="">
                    <div>点击这里快速下单</div>
                </a>
                
            </div>
            
        </div>
    </main>

    <footer>
        
    </footer>
</body>
</html>