<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>登陆注册页面</title>
		<!-- 引入外部css文件 -->
		<link rel="stylesheet" href="../static/css/common.css">
		<link rel="stylesheet" type="text/css" href="../static/css/login.css"/>
		<!-- 引入外部js文件 -->
		<!-- 自定js文件 -->
	</head>
	<body>
	<form method="POST" action="/user/login">
		<div id="sign">
			<div id="top">
				<div class="first">
					扫码登陆
				</div>
				<div class="second">
					账号登陆
				</div>
				
			</div>
			<div id="middle">
				<div class="uname">
					<img src="../static/images/icon/user.png" >
					<input type="text" name="uname" value="" placeholder="手机号/用户名"/>
				</div>
				<div class="psd">
					<img src="../static/images/icon/pwd.png" >
					<input type="password" name="psd" placeholder="密码"/>
				
				<div class='add'>
					<div id=input_text><input type="text" placeholder="请输入短信验证码"></div>
					<div id='gettext'><a href="#">获取验证码</a></div>
				</div>
					


				</div>
				<div id="text">
					<a href="#">短信验证登陆</a>
				</div>
				<div id="sign1">
						手机号格式错误
				</div>

				<a href="../templates/square.html">
					<div class="buttom">
						<input type="text" value="登陆">
					</div>
				</a>
			</div>
			
			<div id="last">
				
			</div>
			
			
		</div>
	</form>
	</body>
</html>
