<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/common.css">

  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/nav.js"></script>
</head>
<body>
  <!-- 导航栏 -->
<nav>
    <!-- logo -->
    <img id="logo" src="../static/images/logo.png" alt="">
    <ul class="nav_list">
        <li><a href="#">广场</a></li>
        <li><a href="#">商城</a></li>
        <li><a href="#">关于我们</a></li>
    </ul>
    <!-- 登录注册 -->
    <div class="user_btn">
        <a href="../templates/login.html" id="register">
        <div>注册</div>
        </a>
        <a href="#" id="login">
        登录
        </a>
    </div>
    <div class="user_area is_logout">
        <a href="#" id="setting">
            <img src="../static/images/icon/setting.png" alt="">
        </a>
      <a href="../templates/homepage_m.html" id="user">
        <div>
        <img src="../static/images/icon/user.png" alt="">
        <div class="username">特邀用户</div>
        </div>
      </a>
    </div>
</nav>
</body>
</html>