<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商品详情</title>
    <!-- 引入外部css文件 -->
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/shopitem.css">
    <link rel="stylesheet" href="../static/css/comment.css">
    <!-- 引入外部js文件 -->
    <script src="../static/js/jquery.min.js"></script>
    <!-- 自定js文件 -->
    <script src="../static/js/init.js"></script>
    <script src="../static/js/shopitem.js"></script>
    <script src="../static/js/nav.js"></script>
    <script src="../static/js/footer.js"></script>

</head>

<body>

<header>

</header>

<main>
    <p id="path">
        <!-- 组长不确定是否需要 -->
        <a href="../templates/shop.html">只是分类路径 &gt;&gt;</a>
        <a href="">再一个分类 &gt;&gt;</a>
    </p>
    <div id="commodity">
        <!-- 商品图片 -->
        <div class="img"></div>
        <!-- 商品交易内容 -->
        <div class="info">
            <ul class="top">
                <li class="introduce">
                    <p>【种草推荐！】</p>
                    <p>一个手工竹制茶托</p>
                </li>
                <li class="price">
                    <p>1999.99</p>
                </li>
                <li class="comment_num">
                    <p>评价：34</p>
                    <p>交易量：0</p>
                </li>
                <li class="style">
                    <p>样式选择：</p>

                    <ul class="type">
                        <li>样式1</li>
                        <li>样式2</li>
                        <li>样式3</li>
                        <li>样式4</li>
                        <li>样式5</li>
                        <li>样式6</li>
                        <li>样式7</li>
                    </ul>
                </li>
                <li class="volume">
                    <p>订单数量</p>
                    <p>替换为带有上下调节的文本框</p>
                </li>
                <li class="btn">
                    <button id="buy">立即购买</button>
                    <button id="add">加入购物车</button>
                </li>
            </ul>
        </div>
    </div>

    <div id="details">
        <!-- 下方左侧推荐框 -->
        <ul>
            <li><a href=""><img src="../static/images/shop_imgs/list12.jpg" alt=""></a></li>
            <li style="display: none"><a href=""><img src="../static/images/shop_imgs/list14.jpg" alt=""></a></li>
        </ul>
        <!-- 下方右侧详情导航栏和内容 -->
        <div class="content" style="overflow:hidden;">
            <div class="cnav active" id="detail" onclick="select_cnav(this)">
                详情
                <!--              <label for="detail" onclick="select_cnav(this)">详情</label>-->
            </div>
            <div class="cnav" id="comment" onclick="select_cnav(this)">
                评论
                <!--              <label for="comment" onclick="select_cnav(this)">评价</label>-->
            </div>
            <div class="cdetail">内容
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam tenetur distinctio, iusto repudiandae,
                suscipit aut dolorem hic libero beatae esse impedit neque labore dolorum soluta nobis ex nam commodi.
                Facilis!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum sint officia perspiciatis temporibus
                adipisci ratione, voluptate, ut accusamus culpa expedita quo tempore distinctio deserunt commodi, dicta
                quasi sit asperiores cupiditate?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ipsam neque autem alias laudantium
                commodi, architecto aliquid modi possimus nulla repellat impedit quibusdam! Quae nulla eaque quibusdam
                ullam harum non?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, vel eligendi temporibus hic illum vitae
                asperiores deserunt architecto molestiae. Odio minus beatae nulla dolores ipsam eaque? Dignissimos
                dolorum debitis unde.
                <img src="../static/images/shop_imgs/list15.jpg" alt="">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt repudiandae deserunt magni, aut,
                vitae accusantium magnam nihil porro aperiam fuga, provident inventore sint excepturi eum nulla
                distinctio quia sit quos!
                Cupiditate natus laborum necessitatibus minus, enim possimus reiciendis incidunt placeat corrupti ab
                cumque sunt cum recusandae molestias expedita porro similique sapiente ipsum. Corporis ipsa, magni
                exercitationem placeat tenetur asperiores fugit!
                Possimus veritatis obcaecati provident magnam soluta est, sed quisquam officia iste eos tempore sapiente
                veniam velit ipsum illo illum corrupti autem voluptatem? Nobis hic eum molestias fuga doloremque esse
                nam?
                Architecto debitis iste culpa tempora soluta molestiae illum distinctio saepe commodi provident ullam
                non animi totam quod, aliquam ipsa cupiditate doloremque ipsam ut dicta iure voluptate. Ab illum
                nesciunt quo?

            </div>
            <div class="ccomment" style='display:none '></div>
        </div>
    </div>
</main>


<footer>
</footer>

</body>
<script src="/static/js/wangEditor.js"></script>
<script src="/static/js/xcConfirm.js"></script>


</html>