<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>商城首页</title>
  <!-- 引入外部css文件 -->
  <link rel="stylesheet" href="../static/css/common.css">
  <link rel="stylesheet" href="../static/css/shop_lesson.css">
  <!-- 引入外部js文件 -->
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/jquery.easyfader.min.js"></script>
  <!-- 自定js文件 -->
  <script src="../static/js/fader.data.js"></script>
  <script src="../static/js/shop_lesson.js"></script>
  <script src="../static/js/nav.js"></script>
  <script src="../static/js/footer.js"></script>
  <script src="../static/js/rightIcon.js"></script>

</head>

<body>
  <header>
    
  </header>
  <main>
    <div class="topBanner">
        
        <!-- 轮播图 -->
        <div class="banner"> 
            <ul class="fader">
                <!-- <li class="slide">
                    <a href="#">
                        <img src="../static/images/banner01.jpg" alt="">
                    </a>
                </li> -->
                <!-- 添加元素 -->
                <li class="fader_controls">
                    <div class="page prev" data-target="prev">&lsaquo;</div>
                    <div class="page next" data-target="next">&rsaquo;</div>
                    <ul class="pager_list">
                        <!-- <li></li> -->
                    </ul>
                </li>
            </ul>
        </div>
        <!-- 右侧广告位 -->
        <div class="recommend">
            <a class="first" href="#">
                <i><img class='img1' src="../static/images/shop_imgs/7.jpg" alt=""></i>   
            </a>
            <a class="last" href="#">
                <i><img class='img1' src="../static/images/shop_imgs/8.jpg" alt=""></i>
            </a>
        </div>
        <div class="blank"></div>
    </div>
    
    <!-- <h1>MAIN</h1> -->
    <!-- <div class="shops-box"> -->
    <ul class="shopsbox">
        

    </ul>
    <!-- <div class="rtop"><img src="../static/images/shop_imgs/rtop.png" alt=""></div> -->
  </main>

  <footer>
    <!-- <h1>FOOTER</h1> -->
  </footer>

  <style>
    .bCarButton{
        display: block;
    }
  </style>
</body>

</html>