<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商品详情</title>
    <!-- 引入外部css文件 -->
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/shopitem.css">
    <link rel="stylesheet" href="../static/css/comment.css">
    <!-- 引入外部js文件 -->
    <script src="../static/js/jquery.min.js"></script>
    <!-- 自定js文件 -->
    <script src="../static/js/init.js"></script>
    <script src="../static/js/shopitem.js"></script>
    <script src="../static/js/nav.js"></script>
    <script src="../static/js/footer.js"></script>

</head>

<body>

<header>

</header>

<main>
    <p id="path">
        <!-- 组长不确定是否需要 -->
        <a href="../templates/shop.html">只是分类路径 &gt;&gt;</a>
        <a href="">再一个分类 &gt;&gt;</a>
    </p>
    <div id="commodity">
        <!-- 商品图片 -->
        <div class="img"></div>
        <!-- 商品交易内容 -->
        <div class="info">
            <ul class="top">
                <li class="introduce">
                    <p>【种草推荐！】</p>
                    <p>一个手工竹制茶托</p>
                </li>
                <li class="price">
                    <p>1999.99</p>
                </li>
                <li class="comment_num">
                    <p>评价：34</p>
                    <p>交易量：0</p>
                </li>
                <li class="style">
                    <p>样式选择：</p>

                    <ul class="type">
                        <li class="typ" tid='0' price='11'>样式1</li>
                        <li class="typ" tid='1' price='12'>样式2</li>
                        <li class="typ" tid='2' price='13'>样式3</li>
                        <li class="typ" tid='3' price='14'>样式4</li>
                        <li class="typ" tid='4' price='15'>样式5</li>
                        <li class="typ" tid='5' price='16'>样式6</li>
                        <li class="typ" tid='6' price='17'>样式7</li>
                    </ul>
                </li>
                <li class="volume">
                    <label for="orderNum">订单数量</label>
                    <input type="number" name="orderNum" id="orderNum" value="1" min="1",max="99">
                </li>
                <li class="btn">
                    <button id="buy">立即购买</button>
                    <button id="add">加入购物车</button>
                </li>
            </ul>
        </div>
    </div>

    <div id="details">
        <!-- 下方左侧推荐框 -->
        <ul>
            <li><a href=""><img src="../static/images/shop_imgs/list12.jpg" alt=""></a></li>
            <li style="display: none"><a href=""><img src="../static/images/shop_imgs/list14.jpg" alt=""></a></li>
        </ul>
        <!-- 下方右侧详情导航栏和内容 -->
        <div class="content" style="overflow:hidden;">
            <div class="cnav active" id="detail" onclick="select_cnav(this)">
                详情
                <!--              <label for="detail" onclick="select_cnav(this)">详情</label>-->
            </div>
            <div class="cnav" id="comment" onclick="select_cnav(this)">
                评论
                <!--              <label for="comment" onclick="select_cnav(this)">评价</label>-->
            </div>
            <div class="cdetail"></div>
            <div class="ccomment" style='display:none '></div>
        </div>
    </div>
</main>


<footer>
</footer>

</body>
<script src="/static/js/wangEditor.js"></script>
<script src="/static/js/xcConfirm.js"></script>


</html>