


/**************************************main*******************************************/


.bgimg{
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.user_box{
  position: relative;
  text-align: center;
}
.user{
  display: inline-block;
  margin-top: -50px;
}
.tx{
  display: inline-block;
  width: 100px;
  height: 100px;
}

.tx>img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.gz{
  position: absolute;
  top: 0;
  right: 0;
  /* width: 200px; */
  height: 25px;
  padding: 40px 10px;
  
}
.follow,.share,.setting{
  display: inline-block;
  padding: 5px 15px;
  line-height: 25px;
  border-radius: 5px;
  
}
.gz a>div{
  display: inline-block;
  margin-left: 10px;
  color: #333;
}
.gz a>img{
  width: 20px;
  
  float: left;
}

.follow, .share{
  border: 1px solid rgb(30, 150, 250);
}

.yhm{
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 23px;
  color: #333;
}
.liuran{
  display: inline-block;
  padding: 10px;
  height: 21px;
  border-top: 2px solid #eeeff2;
}
.liuran>li{
  float: left;
  padding: 0 15px;
  line-height: 21px;
}
.sc{
  width: 100%;
  height: 60px;
  /* background-color: blue; */
  line-height: 60px;
  font-size: 20px;
  text-align: center;
}
.sc div{
  display: inline-block;
  margin: 0 100px;
}
.sc a{
  padding: 0 20px;
  color: #333;
  
}
.sc .active{
  font-weight: bold;
  border-bottom: 3px solid rgb(30, 150, 250);
}

.hide{
  display: none;
}

/* .clear{
  clear: both;
} */

.blank{
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  height: 64px;
  background-color:   #f7f8fa;
}
/**********************************blog******************************/

.blogs{
  background-color: #fff;
  margin-bottom: 20px;
  padding: 20px;
  /* 内部元素可能会用浮动布局 */
  overflow: hidden;
}

/* 博客图片 */
.blogpic{
  position: relative;
  width: 31%;
  height: 250px;
  float: left;
  margin: 20px 20px 0 0;
  overflow: hidden;
  border-radius: 5px;
}
.blogpic img{
  width: 100%;
  /* height: 100%; */
  transition: all 0.5s;
  align-items: center;
}
.blogpic img:hover{
  transform: scale(1.3);
}
.blogpic .ptitle{
  float: left;
  display: block;
  width: 100%;
  height: 50px;
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.6) 100%);
  opacity: 0;
  position: absolute;
  bottom: 0;
  padding-left: 10px;
}
.blogpic a{
  color: #fff;
  text-align: left;
  font-size: 20px;
}