/**************************************main*******************************************/


.bgimg{
  width: 100%;
  height: 100%;
}
.bgimg>img{
  width: 1000px;
}
.user_box{
  position: relative;
  text-align: center;
}
.user{
  display: inline-block;
  margin-top: -50px;
}
.tx{
  display: inline-block;
  width: 100px;
  height: 100px;
}

.tx>img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.gz{
  position: absolute;
  top: 0;
  right: 0;
  /* width: 200px; */
  height: 25px;
  padding: 40px 10px;
  
}
.gz li{
  display: inline-block;
  padding: 5px 15px;
  line-height: 25px;
  border-radius: 5px;
  
}
.gz a>div{
  display: inline-block;
  margin-left: 10px;
  color: #333;
}
.gz a>img{
  width: 20px;
  
  float: left;
}

.follow, .share{
  border: 1px solid rgb(30, 150, 250);
}

.yhm{
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 23px;
  color: #333;
}
.liuran{
  display: inline-block;
  padding: 10px;
  height: 21px;
  border-top: 2px solid #eeeff2;
}
.liuran>li{
  float: left;
  padding: 0 15px;
  line-height: 21px;
}
.sc{
  width: 100%;
  height: 60px;
  /* background-color: blue; */
  line-height: 60px;
  font-size: 20px;
  text-align: center;
}
.sc div{
  display: inline-block;
  margin: 0 100px;

}
.sc a{
  
  color: #333;
  
}
.sc .active{
  font-weight: bold;
  border-bottom: 3px solid rgb(30, 150, 250);
}



/* .clear{
  clear: both;
} */

.blank{
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  height: 64px;
  background-color:   #f7f8fa;
}





.mainBody{
  /* position: absolute; */
  width:100%;
  /* height: 595px; */
  /* background-color: gray; */
  padding: 20px;
}





.personalData{
  position: absolute;

  width: 300px;
  /* height: 150px; */
  top: 870px;
  display: inline-block;
}
.personalData ul{
  border: 2px solid rgb(30, 150, 250, 0.6);
  border-radius: 5px;
}

.personalData li{
  width: auto;
  text-align: left;
  padding: 10px;
  
}
.personalData li>div{
  display: inline-block;
  
}
.personalData li>img{
  width: 20px;
  float: left;
  margin: 5px;
}
#birthday,#location,#note,#tag{
  display: inline-block;
  
}

.release{
  position: relative;
  top: 230px;
  width: 300px;
  border: 2px solid rgb(30, 150, 250, 0.6);
  border-radius: 5px;
}
.hide{
  display: none;
}

.message{
  width: 650px;
  height: 200px;
  margin-left: 325px;
  display: inline-block;
  border-left: 5px solid rgb(30, 150, 250);
  padding-left: 25px;
  padding-bottom: 25px;
}


.msg_pic{
  width: 200px;
  height: 200px;
  overflow: hidden;
  /* display: inline-block; */
  /* border: 1px solid blue; */
  border-radius: 5px;
  margin: 10px;
  float: left;
}

.msg_img{
  height: 100%;
  transition: all 0.5s;
}
.msg_img:hover{
  transform: scale(1.3);
  cursor:pointer;
}
.msg_withoutpic, .msg_withpic{
  display: inline-block;
  margin: 20px 20px 0px 20px;
  border: 1px solid rgb(30, 150, 250);
  border-radius: 5px;
  width: 600px;
  padding-bottom: 5px;
}
.user_m{
  width: 340px;
  max-height: 220px;
  display: inline-block;
  padding: 10px;
  
}
.head{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url(../images/head/boy.png);
  background-size: cover;
  background-position: 50% 50%;
  display: inline-block;
  margin-top: 5px;
}
.info{
  display: inline-block;
  margin-left: 5px;
  font-size: 18px;
  color: #333;
}
.time{
  display: inline-block;
  margin-left: 20px;
  font-size: 14px;
}
.content{
  width: 100%;
  height: 105px;
  display: inline-block;
  text-overflow:ellipsis ;
  overflow: hidden;
  margin: 10px 0 0 0;
  color: #333;
}
.view{
  display: inline-block;
}

.view li{
  width: 100px;
  height: 25px;
  display: inline-block;
  /* border: 1px solid blue; */
}
.view a{
  display: inline-block;
}
.view a>img{
  width: 20px;
  margin: 5px 10px;
}
.view div{
  display: inline-block;
  margin: 5px 10px;
}

.msg_withoutpic .user_m{
  width: 580px;
  max-height: 185px;
}

.msg_withoutpic .head, .info{
  position: relative;
  left: 5px;
}

.msg_withoutpic .content{
  max-height: 90px;
}





























