


/**************************************main*******************************************/


.bgimg{
  width: 100%;
  height: 100%;
}
.bgimg>img{
  width: 1000px;
}
.user_box{
  position: relative;
  text-align: center;
}
.user{
  display: inline-block;
  margin-top: -50px;
}
.tx{
  display: inline-block;
  width: 100px;
  height: 100px;
}

.tx>img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.gz{
  position: absolute;
  top: 0;
  right: 0;
  /* width: 200px; */
  height: 25px;
  padding: 40px 10px;
  
}
.gz li{
  display: inline-block;
  padding: 5px 15px;
  line-height: 25px;
  border-radius: 5px;
  
}
.gz a>div{
  display: inline-block;
  margin-left: 10px;
  color: #333;
}
.gz a>img{
  width: 20px;
  
  float: left;
}

.follow, .share{
  border: 1px solid rgb(30, 150, 250);
}

.yhm{
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 23px;
  color: #333;
}
.liuran{
  display: inline-block;
  padding: 10px;
  height: 21px;
  border-top: 2px solid #eeeff2;
}
.liuran>li{
  float: left;
  padding: 0 15px;
  line-height: 21px;
}
.sc{
  width: 100%;
  height: 60px;
  /* background-color: blue; */
  line-height: 60px;
  font-size: 20px;
  text-align: center;
}
.sc div{
  display: inline-block;
  margin: 0 100px;
}
.sc a{
  padding: 0 20px;
  color: #333;
  
}
.sc .active{
  font-weight: bold;
  border-bottom: 3px solid rgb(30, 150, 250);
}



.clear{
  clear: both;
}

.blank{
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  height: 64px;
  background-color:   #f7f8fa;
}

.infosbox{
  /* border: 1px solid #f7f8fa; */
  position: relative;
  border: 1px solid rgb(30, 150, 250);
  border-radius: 5px;
  width: 75%;
  margin: 20px auto;
}
.infosbox p{
  /* border: 1px solid red; */
}
.infosbox form{
  /* border: 1px solid blue; */
}
.infosbox p>label, .classification{
  padding-left: 20px;
}
.buttom{
  text-align: center;
}
.hide{
  display:none;
}

.cover{
  width: 215px;
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
  /* display: inline-block; */
  padding: 10px;
  position: absolute;
  top: 10px;
  right: 50px;
}
.cover_img{
  height: 100%;
  border-radius: 5px;
}