
		/* ********* */
body{
	width: 100%;
	font-size:16px;
	background-color:white;
	/* opacity: 0.8; */
	/* background-image:url("img/timg.jpg") */
		}
		
#sign{
	position: relative;
	width: 400px;
	/* height: 350px; */
	border: 1px solid rgb(30, 150, 250);
	border-radius: 5px;
	/* line-height: 300px; */
	 margin: 200px auto;
	}
		
#top{
	/* position: relative; */
	width: 80%;
	height: 60px;
	/* border: 1px solid red; */
	margin: 0 auto;
	font-size: 20px;
}
#top>div{
	display: inline-block;
	width: 150px;
	text-align: center;
}
#top div>a{
	line-height: 60px;
	padding: 0 5px 15px 5px;
}

#top .first{
	/* float: left; */
	
}

#top .second{
	/* float:right; */
	
}
.active>a{
	padding: 0 5px 15px 5px;
	border-bottom: 3px solid  rgb(30, 150, 250);
}
#top .line{
	text-align: center;
	
}

#middle{
	width: 80%;
	height: 300px;
	/* border: 1px solid red; */
	margin: 0 auto;
}

.account .uname,.account .psd,.account .buttom{
	width: 100%;
	height: 50px;
	/* border: 1px solid blanchedalmond; */
	border-radius: 5px;
	margin: 10px auto;
}

.account>.uname,.account>.psd{
	border: 1px solid #E0E0D3;
}


img{
	width: 20px;
	height: 20px;
	float: left;
	margin-right:10px ;
	margin-left:15px ;
	margin-top: 15px;
}

.uname>input, .psd_add>input{
	float: left;
	font-size: 16px;
	border-width:0px;	
	margin-top: 10px;
	height: 30px;
	/* width: 80%; */
	/* margin-top: -27px; */
	/* line-height: 50px;; */

}
.uname>input:focus,.psd_add>input:focus{
	outline: none;
}


.account .text_add {
	/* position: relative; */
	/* width: 100%; */
	/* height: 50px; */
	
	/* margin: 10px auto; */
	/* display: none; */

} 

#input_text{
	/* float: left; */
}

#input_text>input{
	float: left;
	width: 170px;
  line-height: 50px;
	font-size: 16px;
	border: none;
	background-color: rgba(255, 255, 255, 0);
	padding: 0 11px;
	/* display: none; */
}
#input_text>input:focus{
	outline: none;
}
#gettext{
	float: right;
	width: 110px;
	text-align: center;
	background-color: #D4D4D2;
	padding: 13px 5px; 
	border: none;
}
#gettext:focus{
	outline: none;
}

.account .buttom 
{
	border-width: 0px;
	margin:35px auto;
	font-size: 21px;
	text-align: center;
	line-height: 50px;
	background-color:  rgba(30, 151, 250, 0.788);
	margin-bottom:20px; 
}






#text:hover,#pwdtext:hover{
	color:#C7C783;
}

#text,#pwdtext{
	float: right;
	border-width: 0px;
	font-size: 15px;
	color: black;
}

#sign1{
	color: red;
	/* display: none; */
	font-size: 14px;
	float: left;
}

.hide{
	display: none;
}

#last{
	margin-top:-10px; 
	position: relative;
	width: 100%;
	height: 45px;
	background-color:  rgba(30, 151, 250, 0.226);
	border-width: 0px;
}

		
