/* ---------------------------分类路径------------------------------- */
main{
    /* margin-top: 60px; */
}
#path{
    height: 25px;
    /* border: 1px solid red; */
    padding-left:50px;
    line-height: 25px;
    text-align: left;
    /* display: none; */
}
#path a{
    color: #333;
}
/* ------------------------------商品----------------------------- */
#commodity{
    height: 389px;
    width: 100%;
    /* border: 1px solid red; */
    text-align: left;
    margin-bottom: 15px;
    
}
/* 商品图片 */
.img{
    width:350px;
    height:350px;
    /* display: inline-block; */
    float: left;
    /* background-color: pink; */
    margin:25px;
    margin-right:40px;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}


/* 商品交易内容 */
.info{
    width:510px;
    height:389px;
    float: right;
    margin-right: 45px;
    border: 1px solid rgb(30, 150, 250);
    border-radius: 5px;
    /* background-color: rgb(209, 183, 34); */
}
/* 第一层li竖直排列 */
#commodity .top>li{
overflow: hidden;
margin: 5px 20px;
border-bottom: 2px solid #eeeff2;
}
#commodity .top>.volume,#commodity .top>.btn{
    border-bottom: 0;
}
/* 每一行都横向排列 */
.top p, 
#commodity .style li,
#commodity .btn>button
{
float: left;
margin-right: 30px;
}
/* 微调各元素 */
.introduce{
    margin-top: 15px;
    height: 50px;
    line-height: 50px;
}
.price,.comment_num{
    height: 40px;
    line-height: 40px;
}
.price{
    color: red;
    font-size: 32px;
    font-weight: bold;
}
.style{
    /* height: 85px; */
    /* line-height: 25px; */
}
.style>p{
    display: inline-block;
    text-align: center;
    height: 85px;
    line-height: 85px;
}
.style .type{
    display: inline-block;
    padding: 10px 0;
    width: 350px;
    /* height: 85px; */
}
.style li{
    border: 1px solid pink;
    height: 23px;
    line-height: 23px;
    margin: 5px 5px;
    padding: 2px 3px;
}
.volume{
    /* height: 85px; */
    /* line-height: 85px; */
}
.volume>p{
    line-height: 55px;
}
.volume>p:last-child{
    /* width:60px; */
    height:50px;
    /* background-color: blue; */
    line-height: 50px;
    margin: 5px 0;
}
.btn{
    /* height: 74px; */
    /* line-height: 74px; */
}
.btn button{
    margin: 0 30px ;
    height: 40px;
    width:175px;
    font-size: 16px;
}
#buy{
    color: seashell;
    
    background-color: rgba(250, 30, 30, 0.849);
}
/* -----------------------------商品详情------------------------------- */
#details{
    /* position: relative; */
    /* height: 350px; */
    width: 100%;
    /* border: 1px solid red; */
}
#details ul{
    margin-left: 50px;
    margin-right: 40px;
    position: fixed;
    /* bottom: 10%; */
}
#details li{
    //width: 165px;
    //height: 165px;
    /* background-color: aqua; */
    border-radius: 5px;
}
#details li:first-child{
    //margin-bottom: 30px;
}
#details li a{
    display: inline-block;
    width: 165px;
    overflow: hidden;
    border-radius: 5px;
}
#details li img{
    height: 165px;
}
#details .content{
    /* position: absolute; */
    margin-left: 250px;
    //width:700px;
    border: 1px solid rgb(30, 150, 250);
    border-radius: 5px;
    /* height: 350px; */
    /* right:0; */
    /* top:0; */
}
#details .cnav{
    /* background-color: greenyellow; */
    width:350px;
    height:60px;
    float: left;
    line-height: 60px;
    text-align: center;
    
}
.active{
    border-bottom: 3px solid rgb(30, 150, 250);
}

#details .cdetail{
    /* background-color: blueviolet; */
    margin: 70px 10px 10px 10px;
    
    /* width:100%; */
    /* height:290px; */
    text-align: left;
    font-size: 20px;
}

.cdetail img{
    margin: 5px auto;
}





